@charset "UTF-8";
@import url(../style/swiper-bundle.min.css);

* {
    padding: 0;
    margin: 0;
    color: #333;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.inner {
    width: 1280px;
    margin: 0 auto;
}
section > h1 {
    text-indent: -9999em;
}

/* 헤더 영역 */
#header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9000;
}
#header .inner {
    position: relative;
 }
 #lnb {
     padding: 10px 0;
 }
 #lnbMenu {
     display: flex;
     justify-content: flex-end;
 }
 #lnbMenu li a {
    display: inline-block;
    font-size: 11px;
    padding: 0 7px;
 }
 #lnbMenu li a::after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 8px;
    position: relative;
    left: 6px;
    background: #a2a8b6;
 }
 #lnbMenu li:last-child a::after {
    display: none;
 }
 .headerArea {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
 }
.headerLogo {
    height: 100%;
}
.headerLogo a {
    display: block;
    width: 106px;
}
.headerLogo img {
    width: 100%;
}

/* search 영역 */
.search {
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: rgba(255,255,255,0.1);
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
    overflow: hidden;
}
.search.active {
    width: 260px;
}
.search .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.search .icon::before {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    border: 2px solid rgba(0,0,0,0.7);
    border-radius: 50%;
    transform: translate(-2px, -2px);
}
.search .icon::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 10px;
    background: rgba(0,0,0,0.7);
    transform: translate(6px, 6px) rotate(315deg);
}
.search .input {
    position: relative;
    width: 300px;
    height: 40px;
    left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search .input input {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 13px;
    padding: 10px 0;
    background: rgba(255,255,255,0);
}
.clear {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clear::before {
    display: none;
    content: '';
    position: absolute;
    width: 1px;
    height: 15px;
    background: rgba(0,0,0,0.5);
    transform: rotate(45deg);
}
.clear::after {
    display: none;
    content: '';
    position: absolute;
    width: 1px;
    height: 15px;
    background: rgba(0,0,0,0.5);
    transform: rotate(-45deg);
}
.clear.active::before,
.clear.active::after {
    display: block;
}

/* 메인메뉴 */
#mainMenu {
    display: flex;
    justify-content: center;
}
#mainMenu li a {
    display: block;
    padding: 0 20px;
    font-size: 15px;
    margin-top: 30px;
}
#mainMenu li a:hover {
    font-weight: bold;
    color: #6b90dc;
}
#mainMenu li:last-child a {
    color: #55524c;
    font-weight: normal;
}
#mainMenu li:last-child:hover a {
    color: #6b90dc;
}

/* 메인 슬라이드 이미지 */
.swiper {
    width: 100%;
    height: 100vh;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}
.swiper-slide img {
    width: 100%;
    height: 100vh;
    user-select: none;
}

/* #mainSlide .shuttleFrame {
    position: relative;
    width: 100%;
    height: 100vh;
}
#mainSlide .shuttleFrame a {
    position: absolute;
}
#mainSlide .shuttleFrame img {
    width: 100%;
    height: 100vh;
}
#mainSlide a:not(:first-child) {
    display: none;
}
#mainSlide .prev,
#mainSlide .next {
    position: absolute;
    bottom: 13%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70px;
    height: 70px;
    border: 1px solid #555;
    transition: 0.5s;
    cursor: pointer;
    z-index: 10;
}
#mainSlide .prev {
    left: 5%;
}
#mainSlide .next {
    left: 95%;
}
#mainSlide .prev:hover,
#mainSlide .next:hover {
    background: #555;
}
#mainSlide .prev:hover::after,
#mainSlide .next:hover::after {
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
}
#mainSlide .prev::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -50%) rotate(45deg);
    display: block;
    width: 20px;
    height: 20px;
    border-left: 2px solid #555;
    border-bottom: 2px solid #555;
    transition: 0.5s;
}
#mainSlide .next::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-70%, -50%) rotate(-135deg);
    display: block;
    width: 20px;
    height: 20px;
    border-left: 2px solid #555;
    border-bottom: 2px solid #555;
    transition: 0.5s;
} */

/* 스테디 셀러 영역 */
#steady_seller {
    margin: 200px 0;
}
#steady_seller .inner {
    position: relative;
}
#steady_seller h1 {
    text-align: center;
    font-size: 34px;
}
.steady_slide {
    margin: 50px 0;
    overflow: hidden;
}
.steady_slide .shuttleFrame {
    display: flex;
    width: 1610px;
}
.steady_slide .shuttleFrame a {
    display: block;
    width: 300px;
    margin-right: 26px;
}
.steady_slide .top {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 20px;
}
.steady_slide .top img {
    width: 300px;
    height: 300px;
    transition: 0.8s;
}
.steady_slide a:hover .top img {
    transform: scale(1.07);
}
.steady_slide .bottom {
    margin-top: 20px;
}
.steady_slide .bottom strong::after {
    content: '원';
}
.steady_slide .bottom p:nth-child(2) {
    font-size: 14px;
    line-height: 26px;
}
.steady_slide .bottom p:nth-child(3) {
    font-size: 11px;
}
#steady_seller .inner .prev,
#steady_seller .inner .next {
    position: absolute;
    bottom: 13%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70px;
    height: 70px;
    border: 1px solid #cad1e1;
    transition: 0.5s;
    cursor: pointer;
}
#steady_seller .inner .prev {
    left: -10%;
}
#steady_seller .inner .next {
    left: 110%;
}
#steady_seller .inner .prev:hover,
#steady_seller .inner .next:hover {
    background: #cad1e1;
}
#steady_seller .inner .prev:hover::after,
#steady_seller .inner .next:hover::after {
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
}
#steady_seller .inner .prev::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -50%) rotate(45deg);
    display: block;
    width: 20px;
    height: 20px;
    border-left: 2px solid #cad1e1;
    border-bottom: 2px solid #cad1e1;
    transition: 0.5s;
}
#steady_seller .inner .next::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-70%, -50%) rotate(-135deg);
    display: block;
    width: 20px;
    height: 20px;
    border-left: 2px solid #cad1e1;
    border-bottom: 2px solid #cad1e1;
    transition: 0.5s;
}

/* 베스트 리뷰 영역 */
#best_review {
    margin: 200px 0;
}
#best_review .inner {
    position: relative;
}
#best_review h1 {
    text-align: center;
    font-size: 34px;
}
.review_slide {
    margin: 50px 0;
    overflow: hidden;
}
.review_slide .shuttleFrame {
    display: flex;
    width: 1750px;
}
.review_slide .shuttleFrame a {
    display: block;
    width: 300px;
    margin-right: 7.65%;
}
.review_slide .top {
    width: 410px;
    height: 410px;
    overflow: hidden;
    border-radius: 20px;
}
.review_slide .top img {
    width: 410px;
    height: 410px;
    transition: 0.8s;
}
.review_slide a:hover .top img {
    transform: scale(1.07);
}
.review_slide .bottom {
    margin-top: 20px;
    width: 410px;
}
.review_slide .bottom .title {
    font-size: 22px;
    font-weight: bold;
    white-space: nowrap;
}
.review_slide .bottom > span {
    display: inline-block;
    width: 88px;
    height: 16px;
    background: url(https://static-resource-smartstore.pstatic.net/brandstore/p/static/20211021183348/img/sprite/svg/spBs_icon_svg.svg) no-repeat;
    background-size: 275px 248px;
    background-position: -144px -97px;
}
.review_slide .bottom > span > span {
    display: inline-block;
    position: relative;
    top: -1px;
    width: 92%;
    height: 16px;
    background: url(https://static-resource-smartstore.pstatic.net/brandstore/p/static/20211021183348/img/sprite/svg/spBs_icon_svg.svg) no-repeat;
    background-size: 275px 248px;
    background-position: -144px -73px;
}
.review_slide a:nth-child(2) .bottom > span > span {
    width: 95%;
}
.review_slide .bottom b {
    font-size: 24px;
    margin-left: 8px;
}
.review_slide .bottom div {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.review_slide .bottom div p {
    display: -webkit-box;
    max-height: 50px;
    font-size: 13px;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.review_slide .bottom div img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin-left: 20px;
}
#best_review .inner .prev,
#best_review .inner .next {
    position: absolute;
    bottom: 13%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70px;
    height: 70px;
    border: 1px solid #cad1e1;
    transition: 0.5s;
    cursor: pointer;
}
#best_review .inner .prev {
    left: -10%;
}
#best_review .inner .next {
    left: 110%;
}
#best_review .inner .prev:hover,
#best_review .inner .next:hover {
    background: #cad1e1;
}
#best_review .inner .prev:hover::after,
#best_review .inner .next:hover::after {
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
}
#best_review .inner .prev::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -50%) rotate(45deg);
    display: block;
    width: 20px;
    height: 20px;
    border-left: 2px solid #cad1e1;
    border-bottom: 2px solid #cad1e1;
    transition: 0.5s;
}
#best_review .inner .next::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-70%, -50%) rotate(-135deg);
    display: block;
    width: 20px;
    height: 20px;
    border-left: 2px solid #cad1e1;
    border-bottom: 2px solid #cad1e1;
    transition: 0.5s;
}


/* section2 */
#section2 {
    padding: 100px 0 250px;
    background: url(../images/bg_lc.jpg) no-repeat center;
    background-attachment: fixed;
}
#section2 .inner {
    text-align: center;
}
#section2 .whiteLogo img {
zoom: 0.75;
}
#section2 .desc {
    margin: 20px 0 30px;
    color: #d5d5d5;
    font-size: 14px;
}
#section2 .btnArea {
    display: flex;
    justify-content: center;
}
#section2 .btnArea a {
    display: inline-block;
    width: 300px;
    height: 50px;
    line-height: 50px;
    color: #d5d5d5;
    border: 1px solid #d5d5d5;
    font-size: 13px;
    margin-right: 10px;
    transition: 0.5s;
}
#section2 .btnArea a:hover {
    color: #fff;
    background: #8ba3db;
    border: 1px solid #8ba3db;
}
#section2 .btnArea a::before {
    content: '';
    display: inline-block;
    position: relative;
    top: 2px;
    left: -5px;
    width: 19px;
    height: 15px;
    background: url(https://static-resource-smartstore.pstatic.net/brandstore/p/static/20211021183348/img/sprite/svg/spBs_icon_svg.svg) no-repeat center;
    background-size: 275px 248px;
    background-position: -171px -121px;
}
#section2 .btnArea .share {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid #d5d5d5;
    cursor: pointer;
}
#section2 .btnArea .share::before {
    content: '';
    position: absolute;
    top: 14px;
    left: 17px;
    width: 18px;
    height: 17px;
    background: url(https://static-resource-smartstore.pstatic.net/brandstore/p/static/20211021183348/img/sprite/svg/spBs_icon_svg.svg) no-repeat;
    background-size: 275px 248px;
    background-position: -56px -227px;
}

/* section3 */
#section3 {
    position: relative;
    top: -180px;
}
#section3 .inner {
    display: flex;
}
#section3 .inner > div {
    flex: 1;
}
#section3 .left_box > span {
    display: block;
    width: 625px;
    height: 530px;
    background: url(../images/01_sena_03.jpg) no-repeat center;
    background-size: cover;
    border-radius: 10px;
}
#section3 .left_box .bottom {
    display: flex;
    margin-top: 15px;
}
#section3 .left_box .bottom span {
    display: block;
    flex: 1;
    height: 270px;
    margin-right: 15px;
    border-radius: 10px;
}
#section3 .left_box .bottom span:first-child {
    background: url(../images/03_chamee.jpg) no-repeat center;
    background-size: cover;
}
#section3 .left_box .bottom span:last-child {
    background: url(../images/04_greennarae.jpg) no-repeat center;
    background-size: cover;
}
#section3 .right_box span {
    display: block;
    width: 600px;
    height: 400px;
    border-radius: 10px;
}
#section3 .right_box span:first-child {
    background: url(../images/02_piona_5c.jpg) no-repeat center;
    background-size: cover;
    margin-bottom: 15px;
}
#section3 .right_box span:last-child {
    background: url(../images/naru_4c_03_03.jpg) no-repeat center;
    background-size: cover;
}

/* section4 */
#section4 .inner {
    text-align: center;
    padding: 0 0 150px;
}
#section4 .inner h2 {
    font-size: 34px;
    color: #2a2f3b;
}
#section4 .inner p {
    font-size: 20px;
    margin: 20px 0;
    color: #555;
}
#section4 .instaImg {
    display: flex;
}
#section4 .instaImg a {
    position: relative;
    display: block;
    width: 250px;
    height: 250px;
    margin-right: 15px;
    border-radius: 10px;
    overflow: hidden;
}
#section4 .instaImg a:last-child { margin-right: 0; }
#section4 .instaImg a::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 95%;
    height: 95%;
    border: 1px solid #fff;
    border-radius: 10px;
    z-index: 1;
}
#section4 .instaImg span {
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
#section4 .instaImg a:hover span {
    transform: scale(1.03);
}
#section4 .instaImg a:nth-child(1) span { background: url(../images/insta.jpg) no-repeat center; background-size: cover; }
#section4 .instaImg a:nth-child(2) span { background: url(../images/insta2.jpg) no-repeat center; background-size: cover; }
#section4 .instaImg a:nth-child(3) span { background: url(../images/insta3.jpg) no-repeat center; background-size: cover; }
#section4 .instaImg a:nth-child(4) span { background: url(../images/insta4.jpg) no-repeat center; background-size: cover; }
#section4 .instaImg a:nth-child(5) span { background: url(../images/insta5.jpg) no-repeat center; background-size: cover; margin-right: 0;}


/* 푸터 영역 */
#footer {
    background: #cad1e1;
    padding-bottom: 30px;
}
#footer a:hover {
    text-decoration: underline;
}
#footerLnb ul {
    display: flex;
}
#footerLnb a {
    display: inline-block;
    padding: 0 20px 0 0;
    margin: 20px 0; 
    font-size: 12px;
    color: #2a2f3b;
}
#footerLnb li a::after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 10px;
    position: relative;
    left: 10px;
    background: #a2a8b6;
}
#footerLnb li:last-child a::after {
    display: none;
}

.footer_center {
    display: flex;
}
.footer_center .naver { 
    flex: 2;
}
.footer_center > div > .text {
    font-size: 13px;
    margin-top: 7px;
    line-height: 22px;
    color: #2a2f3b;
}
.footer_center > div > .text .bar {
    display: inline-block;
    width: 1px;
    height: 10px;
    margin: 7px 10px 0;
    background: #c2c2c2;
}
.footer_center .service_center { 
    flex: 1;
}
.footer_center .e_finance { 
    flex: 1;
}
#footer .responsibility {
    font-size: 14px;
    margin: 30px 0 10px;
    color: #2a2f3b;
}
#footer .copyright {
    font-size: 11px;
    color: #2a2f3b;
}

/* 스크롤탑 */
.scrollTop {
    position: fixed;
    right: 20px;
    bottom: -100px;
    width: 45px;
    height: 45px;
    box-shadow: 0 0 10px #8ba3d9;
    background: #8ba3d9;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    z-index: 100;
}
.scrollTop::after {
    content: '';
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    display: block;
    width: 10px;
    height: 10px;
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
}
.scrollTop.active {
    bottom: 20px;
}
.scrollTop.on {
    box-shadow: 0 0 10px #000;
    background: rgba(0, 0, 0, 0.7);
}