@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    color: #333;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.inner {
    width: 1280px;
    margin: 0 auto;
    /* border: 1px solid #000; */
}
input {
    outline-color: #6b90dc;
}

/* 헤더 영역 */
#header {
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
    background: #cad1e1;
}
#header .inner {
    position: relative;
 }
 #lnb {
     padding: 10px 0;
 }
 #lnbMenu {
     display: flex;
     justify-content: flex-end;
 }
 #lnbMenu li a {
    display: inline-block;
    font-size: 11px;
    padding: 0 7px;
 }
 #lnbMenu li a::after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 8px;
    position: relative;
    left: 6px;
    background: #a2a8b6;
 }
 #lnbMenu li:last-child a::after {
    display: none;
 }
 .headerArea {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
 }
.headerLogo {
    height: 100%;
}
.headerLogo a {
    display: block;
    width: 106px;
}
.headerLogo img {
    width: 100%;
}

/* search 영역 */
.search {
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: rgba(255,255,255,0.1);
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
    overflow: hidden;
}
.search.active {
    width: 260px;
}
.search .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.search .icon::before {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    border: 2px solid rgba(0,0,0,0.7);
    border-radius: 50%;
    transform: translate(-2px, -2px);
}
.search .icon::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 10px;
    background: rgba(0,0,0,0.7);
    transform: translate(6px, 6px) rotate(315deg);
}
.search .input {
    position: relative;
    width: 300px;
    height: 40px;
    left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search .input input {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 13px;
    padding: 10px 0;
    background: rgba(255,255,255,0);
}
.clear {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clear::before {
    display: none;
    content: '';
    position: absolute;
    width: 1px;
    height: 15px;
    background: rgba(0,0,0,0.5);
    transform: rotate(45deg);
}
.clear::after {
    display: none;
    content: '';
    position: absolute;
    width: 1px;
    height: 15px;
    background: rgba(0,0,0,0.5);
    transform: rotate(-45deg);
}
.clear.active::before,
.clear.active::after {
    display: block;
}

/* 메인메뉴 */
#mainMenu {
    display: flex;
    justify-content: center;
}
#mainMenu li a {
    display: block;
    padding: 0 20px;
    font-size: 15px;
    margin-top: 30px;
}
#mainMenu li a:hover {
    font-weight: bold;
    color: #6b90dc;
}
#mainMenu li:last-child a {
    color: #55524c;
    font-weight: normal;
}
#mainMenu li:last-child:hover a {
    color: #6b90dc;
    font-weight: normal;
}

/* 메인 영역 */
#main { margin-bottom: 100px; }
#main .inner h2 {
    padding: 80px 0 20px;
}
.termsGnb { 
    display: flex;
}
.termsGnb li { 
    border: 1px solid #ddd;
    position: relative;
    margin-right: -1px;
    padding: 15px 24.5px;
    cursor: pointer;
    font-weight: bold;
    background:#fdfdfd;
    color: #555;
    font-size: 15px;
    user-select: none;
}
.termsGnb li.active { 
    color: #01c73c;
    border: 1px solid #01c73c;
}
.termsGnb li.active + li { 
    border-left-color: #01c73c;
}

.trensLnb {
    display: flex;
    padding: 30px 0;
}
.trensLnb li {
    font-size: 18px;
    font-weight: bold;
    padding: 0 15px;
    color: #888;
    cursor: pointer;
    user-select: none;
}
.trensLnb li:first-child {
    padding-left: 0;
}
.trensLnb li::after {
    content: '';
    display: inline-block;
    position: relative;
    left: 15px;
    width: 1px;
    height: 15px;
    background: #aaa;
}
.trensLnb li:last-child:after {
    display: none;
}
.trensLnb li:hover {
    text-decoration: underline;
}
.trensLnb li.active {
    color: #333;
    text-decoration: underline;
}

.serviceLi {
    padding: 40px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.serviceLi p {
    font-size: 12px;
    margin-bottom: 20px;
}
.serviceLi ul li a {
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
    color: #01c73c;
}
.serviceLi ul li a:hover {
    text-decoration: underline;
}

.content {
    padding: 40px;
}
.content h4 {
    color: #333;
    margin: 50px 0 20px;
}
.content h4:first-child {
    margin-top: 0;
}
.content p {
    color: #666;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 25px;
}
.content ul {
    margin-bottom: 25px;
}
.content ul li {
    list-style: disc;
    font-size: 12px;
    line-height: 20px;
    color: #666;
    margin-left: 20px;
    margin-bottom: 10px;
}

/* 푸터 영역 */
#footer {
    background: #cad1e1;
    padding-bottom: 30px;
}
#footer a:hover {
    text-decoration: underline;
}
#footerLnb ul {
    display: flex;
}
#footerLnb a {
    display: inline-block;
    padding: 0 20px 0 0;
    margin: 20px 0; 
    font-size: 12px;
    color: #2a2f3b;
}
#footerLnb li a::after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 10px;
    position: relative;
    left: 10px;
    background: #a2a8b6;
}
#footerLnb li:last-child a::after {
    display: none;
}

.footer_center {
    display: flex;
}
.footer_center .naver { 
    flex: 2;
}
.footer_center > div > .text {
    font-size: 13px;
    margin-top: 7px;
    line-height: 22px;
    color: #2a2f3b;
}
.footer_center > div > .text .bar {
    display: inline-block;
    width: 1px;
    height: 10px;
    margin: 7px 10px 0;
    background: #c2c2c2;
}
.footer_center .service_center { 
    flex: 1;
}
.footer_center .e_finance { 
    flex: 1;
}
#footer .responsibility {
    font-size: 14px;
    margin: 30px 0 10px;
    color: #2a2f3b;
}
#footer .copyright {
    font-size: 11px;
    color: #2a2f3b;
}

/* 스크롤탑 */
.scrollTop {
    position: fixed;
    right: 20px;
    bottom: -100px;
    width: 45px;
    height: 45px;
    box-shadow: 0 0 10px #8ba3d9;
    background: #8ba3d9;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    z-index: 100;
}
.scrollTop::after {
    content: '';
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    display: block;
    width: 10px;
    height: 10px;
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
}
.scrollTop.active {
    bottom: 20px;
}
.scrollTop.on {
    box-shadow: 0 0 10px #000;
    background: rgba(0, 0, 0, 0.7);
}