@charset "UTF-8";

/* common */
* {
    padding: 0;
    margin: 0;
    color: #333;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.inner {
    width: 1280px;
    margin: 0 auto;
}

/* #contents */
#contents {
    margin: 300px 0;
}
.cart_container {

}
.procedure_img {
    width: 1280px;
    height: 65px;
    background: url(../images/img_order_step1.gif) no-repeat center;
    background-size: contain;
}
.cart_tab {
    margin: 50px 0 30px;
}
.cart_tab ul {
    display: flex;
    border-bottom: 1px solid #000;
}
.cart_tab ul li {
    position: relative;
    top: 1px;
    display: block;
    padding: 12px 60px;
    font-size: 13px;
    font-weight: bold;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-bottom: 1px solid #000;
    color: #707070;
    cursor: pointer;
    user-select: none;
}
.cart_tab ul li:last-child {
    border-left: 1px solid #000;
    left: -1px;
}
.cart_tab ul li.active {
    border: 1px solid #000;
    border-bottom: none;
    background: #fff;
    color: #000;
}